.container {
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    max-height: 50%;
}


.container::-webkit-scrollbar {
    display: none;
}


.containerIndexTraining {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
}


.containerIndexTraining::-webkit-scrollbar {
    display: none;
}